<%- include("template/header.ejs") -%>

    <body>
        <!--=============== HEADER ===============-->
        <%- include("navigation.ejs") -%>

            <!--=============== CART ===============-->

            <!--=============== user ===============-->
            <%- include("template/user_card.ejs") -%>


                <!--=============== MAIN ===============-->
                <main class="main">
                    <!--=============== ABOUT ===============-->
                    <section class="about section container">
                        <h2 class="breadcrumb__title">About Page</h2>
                        <h3 class="breadcrumb__subtitle">Home > <span>About</span></h3>
                        <div class="about__container grid">
                            <img src="/img/about-img.jpg" alt="image" class="about__img">

                            <div class="about__data">
                                <h2 class="section__titile about__title">
                                    Who we really are & <br> why choose us
                                </h2>
                                <p class="about__description">
                                    We have over 4000+ unbiased reviews and our customer trust our products and delivery
                                    service
                                    every time.
                                </p>
                                <div class="about__details">
                                    <p class="about__details-description">
                                        <i class="bx bxs-check-square about__details-icon"></i>
                                        We always deliver on time.
                                    </p>
                                    <p class="about__details-description">
                                        <i class="bx bxs-check-square about__details-icon"></i>
                                        We give you guides to protect and care for your products.
                                    </p>
                                    <p class="about__details-description">
                                        <i class="bx bxs-check-square about__details-icon"></i>
                                        100% money back guaranted.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </section>
                </main>

                <!--=============== FOOTER ===============-->
                <%- include("footer.ejs") -%>
                    <%- include("template/link_footer.ejs") -%>
    </body>

    </html>