<%- include("template/header.ejs") -%>

    <body>
        <!--=============== HEADER ===============-->
        <%- include("navigation.ejs") -%>

            <!--=============== CART ===============-->
            <!-- show-cart -->
            <div class="cart " id="cart">
                <i class="bx bx-x cart__close" id="cart-close"></i>
                <h2 class="cart__title-center">My Cart</h2>
                <div class="cart__container">
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="../public/img/cart-1.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Windbreaker</h3>
                            <span class="cart__price">$12.5</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="../public/img/cart-2.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cadigan Hoodia</h3>
                            <span class="cart__price">$15</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="../public/img/cart-3.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cartoon</h3>
                            <span class="cart__price">$10</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="../public/img/cart-3.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cartoon</h3>
                            <span class="cart__price">$10</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cart__prices">
                    <span class="cart__price-item">3 item</span>
                    <span class="cart__price-total">28$</span>
                </div>
            </div>

            <!--=============== user ===============-->
            <%- include("template/user_card.ejs") -%>


                <!--=============== MAIN ===============-->
                <main class="main">
                    <!--=============== FAQ'S ===============-->
                    <section class="questions section container">
                        <h2 class="breadcrumb__title">FAQ'S</h2>
                        <h3 class="breadcrumb__subtitle">Home > <span>FAQ'S</span></h3>

                        <div class="questions__container grid">
                            <div class="questions__group">
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="questions__group">
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                                <div class="questions__item">
                                    <header class="questions__header">
                                        <i class="bx bx-plus questions__icon"></i>
                                        <h3 class="questions__item-title">Lorem ipsum dolor sit amet.</h3>
                                    </header>
                                    <div class="questions__content">
                                        <p class="questions__description">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere eum
                                            asperiores excepturi nam inventore quis explicabo id blanditiis possimus.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </main>

                <!--=============== FOOTER ===============-->
                <%- include("footer.ejs") -%>
                    <%- include("template/link_footer.ejs") -%>
    </body>

    </html>