<%- include("template/header.ejs") -%>

    <body>
        <!--=============== HEADER ===============-->
        <%- include("navigation.ejs") -%>

            <!--=============== CART ===============-->
            <!-- show-cart -->
            <!-- <div class="cart " id="cart">
                <i class="bx bx-x cart__close" id="cart-close"></i>
                <h2 class="cart__title-center">My Cart</h2>
                <div class="cart__container">
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="/img/cart-1.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Windbreaker</h3>
                            <span class="cart__price">$12.5</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="/img/cart-2.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cadigan Hoodia</h3>
                            <span class="cart__price">$15</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="/img/cart-3.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cartoon</h3>
                            <span class="cart__price">$10</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                    <article class="cart__card">
                        <div class="cart__box">
                            <img src="/img/cart-3.png" alt="" class="cart__img">
                        </div>
                        <div class="cart__details">
                            <h3 class="cart__title">Cartoon</h3>
                            <span class="cart__price">$10</span>

                            <div class="cart__amount">
                                <div class="cart__amount-content">
                                    <span class="cart__amount-box">
                                        <i class="bx bx-minus"></i>
                                    </span>
                                    <span class="cart__amount-number">1</span>
                                    <span class="cart__amount-box">
                                        <i class="bx bx-plus"></i>
                                    </span>
                                </div>
                                <i class="bx bx-trash-alt cart__amount-trash"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cart__prices">
                    <span class="cart__price-item">3 item</span>
                    <span class="cart__price-total">28$</span>
                </div>
            </div> -->

            <!--=============== user ===============-->
            <%- include("template/user_card.ejs") -%>

                <!--=============== MAIN ===============-->
                <main class="main">
                    <!--=============== HOME ===============-->
                    <section class="home container">
                        <div class="swiper home-swiper">
                            <div class="swiper-wrapper">
                                <!-- Home Swiper1 -->
                                <section class="swiper-slide">
                                    <div class="home__content grid">
                                        <div class="home__group">
                                            <img src="/img/slide-2.png" alt="image" class="home__img">
                                            <div class="home__indicator"></div>
                                            <div class="home__details-img">
                                                <h4 class="home__details-title">The "Cardigan"</h4>
                                                <span class="home__details-subtitle">Woolen</span>
                                            </div>
                                        </div>

                                        <div class="home__data">
                                            <h3 class="home__subtitle">#1 TRENDING ITEM</h3>
                                            <h1 class="home__title">ORIGINAL<br> IS NEVER<br>FINISHED!!</h1>
                                            <p class="home__description">This is a place of hope, meaning and purpose.
                                                Visit
                                                and
                                                become a part of something bigger - a movement that is changing lives.
                                            </p>

                                            <div class="home__buttons">
                                                <a href="/shop" class="button">Buy Now</a>
                                                <a href="#" class="button--link button--flex">View Details
                                                    <i class="bx bx-right-arrow-alt button__icon"></i>
                                                </a>
                                            </div>
                                        </div>


                                    </div>
                                </section>
                                <!-- Home Swiper2 -->
                                <section class="swiper-slide">
                                    <div class="home__content grid">
                                        <div class="home__group">
                                            <img src="/img/slide-3.png" alt="image" class="home__img">
                                            <div class="home__indicator"></div>
                                            <div class="home__details-img">
                                                <h4 class="home__details-title">Jqueezy</h4>
                                                <span class="home__details-subtitle">Ski Suit</span>
                                            </div>
                                        </div>

                                        <div class="home__data">
                                            <h3 class="home__subtitle">#2 Top Best duo</h3>
                                            <h1 class="home__title">FALL<br> WINTER<br>2024</h1>
                                            <p class="home__description">A specialist label creating luxury essentials.
                                                Ethically
                                                crafted with an unwavering commitment to exceptional quality.</p>

                                            <div class="home__buttons">
                                                <a href="/shop" class="button">Buy Now</a>
                                                <a href="#" class="button--link button--flex">View Details
                                                    <i class="bx bx-right-arrow-alt button__icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- Home Swiper3 -->
                                <section class="swiper-slide">
                                    <div class="home__content grid">
                                        <div class="home__group">
                                            <img src="/img/slide-1.png" alt="image" class="home__img">
                                            <div class="home__indicator"></div>
                                            <div class="home__details-img">
                                                <h4 class="home__details-title">Jurry</h4>
                                                <span class="home__details-subtitle">Ski Suit</span>
                                            </div>
                                        </div>

                                        <div class="home__data">
                                            <h3 class="home__subtitle">#3 TRENDING ITEM</h3>
                                            <h1 class="home__title">SALE 20%<br> OFF ON <br>EVERTHING</h1>
                                            <p class="home__description">A specialist label creating luxury essentials.
                                                Ethically
                                                crafted with an unwavering commitment to exceptional quality.</p>

                                            <div class="home__buttons">
                                                <a href="/shop" class="button">Buy Now</a>
                                                <a href="#" class="button--link button--flex">View Details
                                                    <i class="bx bx-right-arrow-alt button__icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </section>

                    <!--=============== DISCOUNT ===============-->
                    <section class="discount section">
                        <div class="discount__container container grid">
                            <img src="/img/discount.png" alt="image" class="discount__img">
                            <div class="discount__data">
                                <h2 class="discount__title">50% Discount<Br> On new Products</h2>
                                <a href="#" class="button">Go to new</a>
                            </div>
                        </div>
                    </section>

                    <!--=============== NEW ARRIVALS ===============-->
                    <section class="new section">
                        <h2 class="section__title">New Arrivals</h2>
                        <div class="new__container container">
                            <div class="swiper new-swiper">
                                <div class="swiper-wrapper">
                                    <!-- New content 1 -->
                                    <div class="new__content swiper-slide">
                                        <div class="new__tag">New</div>
                                        <img src="/img/new-1.png" alt="image" class="new__img">
                                        <div class="new__title">Windbreaker Jacket</div>
                                        <span class="new__subtitle">Accessory</span>

                                        <div class="new__prices">
                                            <span class="new__price">$14.99</span>
                                            <span class="new__discount">$29.99</span>
                                        </div>
                                        <a href="/shop" class="button new__button">
                                            <i class="bx bx-cart-alt new-icon"></i>
                                        </a>
                                    </div>
                                    <!-- New content 3 -->
                                    <div class="new__content swiper-slide">
                                        <div class="new__tag">New</div>
                                        <img src="/img/new-3.png" alt="image" class="new__img">
                                        <div class="new__title">Fur Jacket</div>
                                        <span class="new__subtitle">Accessory</span>

                                        <div class="new__prices">
                                            <span class="new__price">$4.99</span>
                                            <span class="new__discount">$9.99</span>
                                        </div>
                                        <a href="/shop" class="button new__button">
                                            <i class="bx bx-cart-alt new-icon"></i>
                                        </a>
                                    </div>

                                    <!-- New content 4 -->
                                    <div class="new__content swiper-slide">
                                        <div class="new__tag">New</div>
                                        <img src="/img/new-4.png" alt="image" class="new__img">
                                        <div class="new__title">Fleece Jacket</div>
                                        <span class="new__subtitle">Accessory</span>

                                        <div class="new__prices">
                                            <span class="new__price">$24.99</span>
                                            <span class="new__discount">$49.99</span>
                                        </div>
                                        <a href="/shop" class="button new__button">
                                            <i class="bx bx-cart-alt new-icon"></i>
                                        </a>
                                    </div>

                                    <!-- New content 5 -->
                                    <div class="new__content swiper-slide">
                                        <div class="new__tag">New</div>
                                        <img src="/img/new-5.png" alt="image" class="new__img">
                                        <div class="new__title">Nike Hoodia</div>
                                        <span class="new__subtitle">Accessory</span>

                                        <div class="new__prices">
                                            <span class="new__price">$9.99</span>
                                            <span class="new__discount">$15.99</span>
                                        </div>
                                        <a href="/shop" class="button new__button">
                                            <i class="bx bx-cart-alt new-icon"></i>
                                        </a>
                                    </div>

                                    <!-- New content 6 -->
                                    <div class="new__content swiper-slide">
                                        <div class="new__tag">New</div>
                                        <img src="/img/new-6.png" alt="image" class="new__img">
                                        <div class="new__title">Nike Jacket</div>
                                        <span class="new__subtitle">Accessory</span>

                                        <div class="new__prices">
                                            <span class="new__price">$29.99</span>
                                            <span class="new__discount">$39.99</span>
                                        </div>
                                        <a href="/shop" class="button new__button">
                                            <i class="bx bx-cart-alt new__icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </section>

                    <!--=============== STEPS ===============-->
                    <section class="steps section container">
                        <div class="steps_bg">
                            <h2 class="section__title">How to order products <br> from e-shopper</h2>

                            <div class="steps__container grid">
                                <!-- STEP CARD 1 -->
                                <div class="steps__card">
                                    <div class="steps__card-number">01</div>
                                    <h3 class="steps__card-title">Choose Products</h3>
                                    <p class="steps__card-description">
                                        We have several varieties of products you can choose from.
                                    </p>
                                </div>

                                <!-- STEP CARD 2 -->
                                <div class="steps__card">
                                    <div class="steps__card-number">02</div>
                                    <h3 class="steps__card-title">Place an order</h3>
                                    <p class="steps__card-description">
                                        Once your order is set, we move to the next step which is the shipping.
                                    </p>
                                </div>

                                <!-- STEP CARD 3 -->
                                <div class="steps__card">
                                    <div class="steps__card-number">03</div>
                                    <h3 class="steps__card-title">Get order delivered</h3>
                                    <p class="steps__card-description">
                                        Our delivery process is easy, you receive the order direct to your home.
                                    </p>
                                </div>

                            </div>
                        </div>

                    </section>

                    <!--=============== NEWSLETTER ===============-->
                    <section class="newsletter section">
                        <div class="newsletter__container container">
                            <h2 class="section__title">Our Newsletter</h2>
                            <p class="newsletter__description">
                                Promotion new products and sales. Directly to your inbox.
                            </p>

                            <form action="" class="newsletter__form">
                                <input type="text" placeholder="Enter your email" class="newsletter__input">
                                <button class="button">Subscribe</button>
                            </form>
                        </div>

                    </section>
                </main>

                <!--=============== FOOTER ===============-->
                <%- include("footer.ejs") -%>
                    <%- include("template/link_footer.ejs") -%>
    </body>

    </html>