<%- include("template/header.ejs") -%>

    <body>
        <!--=============== HEADER ===============-->
        <%- include("navigation.ejs") -%>
            <div id="app">

                <!--=============== CART ===============-->
                <div class="cart " id="cart">
                    <i class="bx bx-x cart__close" id="cart-close"></i>
                    <h2 class="cart__title-center">My Cart</h2>
                    <div class="cart__container">
                        <article class="cart__card">
                            <div class="cart__box">
                                <img src="../public/img/cart-1.png" alt="" class="cart__img">
                            </div>
                            <div class="cart__details">
                                <h3 class="cart__title">Windbreaker</h3>
                                <span class="cart__price">$12.5</span>

                                <div class="cart__amount">
                                    <div class="cart__amount-content">
                                        <span class="cart__amount-box">
                                            <i class="bx bx-minus"></i>
                                        </span>
                                        <span class="cart__amount-number">1</span>
                                        <span class="cart__amount-box">
                                            <i class="bx bx-plus"></i>
                                        </span>
                                    </div>
                                    <i class="bx bx-trash-alt cart__amount-trash"></i>
                                </div>
                            </div>
                        </article>
                        <article class="cart__card">
                            <div class="cart__box">
                                <img src="../public/img/cart-2.png" alt="" class="cart__img">
                            </div>
                            <div class="cart__details">
                                <h3 class="cart__title">Cadigan Hoodia</h3>
                                <span class="cart__price">$15</span>

                                <div class="cart__amount">
                                    <div class="cart__amount-content">
                                        <span class="cart__amount-box">
                                            <i class="bx bx-minus"></i>
                                        </span>
                                        <span class="cart__amount-number">1</span>
                                        <span class="cart__amount-box">
                                            <i class="bx bx-plus"></i>
                                        </span>
                                    </div>
                                    <i class="bx bx-trash-alt cart__amount-trash"></i>
                                </div>
                            </div>
                        </article>
                        <article class="cart__card">
                            <div class="cart__box">
                                <img src="../public/img/cart-3.png" alt="" class="cart__img">
                            </div>
                            <div class="cart__details">
                                <h3 class="cart__title">Cartoon</h3>
                                <span class="cart__price">$10</span>

                                <div class="cart__amount">
                                    <div class="cart__amount-content">
                                        <span class="cart__amount-box">
                                            <i class="bx bx-minus"></i>
                                        </span>
                                        <span class="cart__amount-number">1</span>
                                        <span class="cart__amount-box">
                                            <i class="bx bx-plus"></i>
                                        </span>
                                    </div>
                                    <i class="bx bx-trash-alt cart__amount-trash"></i>
                                </div>
                            </div>
                        </article>
                        <article class="cart__card">
                            <div class="cart__box">
                                <img src="../public/img/cart-3.png" alt="" class="cart__img">
                            </div>
                            <div class="cart__details">
                                <h3 class="cart__title">Cartoon</h3>
                                <span class="cart__price">$10</span>

                                <div class="cart__amount">
                                    <div class="cart__amount-content">
                                        <span class="cart__amount-box">
                                            <i class="bx bx-minus"></i>
                                        </span>
                                        <span class="cart__amount-number">1</span>
                                        <span class="cart__amount-box">
                                            <i class="bx bx-plus"></i>
                                        </span>
                                    </div>
                                    <i class="bx bx-trash-alt cart__amount-trash"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="cart__prices">
                        <span class="cart__price-item">3 item</span>
                        <span class="cart__price-total">28$</span>
                    </div>
                </div>

                <!--=============== user ===============-->
                <%- include("template/user_card.ejs") -%>

                    <!--=============== MAIN ===============-->
                    <main class="main">
                        <!--=============== SHOP ===============-->
                        <section class="shop section container">
                            <h2 class="breadcrumb__title">Shop Page</h2>
                            <h3 class="breadcrumb__subtitle">Home > <span>Shop</span></h3>

                            <div class="shop__container grid">
                                <div class="sidebar">
                                    <h3 class="filter__title">Select filters</h3>
                                    <div class="filter__content">
                                        <h3 class="filter__subtitle">Condition</h3>

                                        <div class="filter__content" v-for="(conditions,index) in condition_list">
                                            <div class="filter">
                                                <input type="checkbox" name="" id="">
                                                <p>{{ conditions.condition_name }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter__content">
                                        <h3 class="filter__subtitle">Size</h3>

                                        <div class="filter__content" v-for="(sizess,index) in size_list">
                                            <div class="filter">
                                                <input type="checkbox" name="" id="">
                                                <p>{{ sizess.size }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter__content">
                                        <h3 class="filter__subtitle">Categories</h3>

                                        <div class="filter__content" v-for="(categories,index) in category_list">
                                            <div class="filter">
                                                <input type="checkbox" name="" id="">
                                                <p>{{ categories.category }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter__content">
                                        <h3 class="filter__subtitle">Styles</h3>

                                        <div class="filter__content" v-for="(styles,index) in style_list">
                                            <div class="filter">
                                                <input type="checkbox" name="" id="">
                                                <p>{{ styles.style }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter__content">
                                        <h3 class="filter__subtitle">Sub Categories</h3>

                                        <div class="filter__content" v-for="(subcates,index) in subcate_list">
                                            <div class="filter">
                                                <input type="checkbox" name="" id="">
                                                <p>{{ subcates.sub_category }}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="shop__items grid">
                                    <div class="shop__content" v-for="(product,index) in product_list">
                                        <div class="shop__tag">{{ product.condition_id }}</div>
                                        <img src="/img/product-1.png" alt="image" class="shop__img">
                                        <h3 class="shop__title">{{ product.product }}</h3>
                                        <span class="shop__subtitle">{{ product.sub_category_id }}</span>
                                        <div class="shop__prices">
                                            <span class="shop__price">${{ product.price }}</span>
                                            <span class="shop__discounts">${{ product.price }}</span>
                                        </div>
                                        <a href="/details" class="button shop__button">
                                            <i class="bx bx-cart-alt shop__icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <div class="bx bx-chevron-left pagination__icon"></div>
                                <span class="current active-pagination">1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>&middot; &middot; &middot;</span>
                                <span>9</span>
                                <i class="bx bx-chevron-right pagination__icon"></i>
                            </div>
                        </section>
                    </main>
                    <!--=============== FOOTER ===============-->
                    <%- include("footer.ejs") -%>
            </div>
            <%- include("template/link_footer.ejs") -%>
                <script>
                    const { createApp } = Vue;
                    createApp({
                        created() {
                            this.getProducts(),
                                this.getCategories(),
                                this.getConditions(),
                                this.getSizes(),
                                this.getStyles(),
                                this.getSubCategory()
                        },
                        data() {
                            return {
                                product_list: [],
                                condition_list: [],
                                size_list: [],
                                category_list: [],
                                style_list: [],
                                subcate_list: [],

                            };
                        },
                        methods: {
                            getProducts() {
                                fetch('http://localhost:3000/api/products')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.product_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            },
                            getCategories() {
                                fetch('http://localhost:3000/api/category')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.category_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            },
                            getConditions() {
                                fetch('http://localhost:3000/api/conditon')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.condition_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            },
                            getSizes() {

                                fetch('http://localhost:3000/api/size')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.size_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            },
                            getStyles() {
                                fetch('http://localhost:3000/api/style')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.style_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            },
                            getSubCategory() {
                                fetch('http://localhost:3000/api/subcategory')
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json();
                                    })
                                    .then(data => {
                                        this.subcate_list = data;
                                    })
                                    .catch(error => {
                                        console.error('Error fetching data:', error);
                                    });
                            }
                        },
                    }).mount('#app');
                </script>
    </body>

    </html>